<div class="page-header">
  <h3>Region #<%= @region.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @region.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/regions" class="btn btn-primary">
        Back
      </a>
      <a href="/regions/<%= @region.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_region/<%= @region.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
